.accordion {
  width: 280px;
  border-bottom: 2px solid #E0E0E0;
  padding-bottom: 18px;
}

.accordion-header {
  width: 100%;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #393280;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 0;
}

.accordion-body {
  margin-top: 10px;
}

.symbol {
  font-size: 20px;
  color: #393280;
}
