.footer {
  position: relative;
  background: #ed553b;
  color: #fff;
  padding: 143px 100px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

.ornament-top,
.ornament-bottom {
  position: absolute;
  opacity: 0.8;
  pointer-events: none;
}

.ornament-top {
  top: 0;
  left: 0;
  width: 120px;
}

.ornament-bottom {
  bottom: 0;
  right: 0;
  width: 120px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 115px; 
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.footer-left {
  flex: 1;
  min-width: 260px;
  max-width: 360px;
}

.footer-logo img {
  width: 83px;
  height: 87px;
  margin-bottom: 9px;
}

.footer-desc {
  font-size: 18px;
  line-height: 1.6;
  height: 99px;
  margin-bottom: 12px;
  color: #fff;
}

.footer-socials {
  display: flex;
  gap: 63px;
  align-items: center;
  margin-bottom: 12px;
}

.footer-socials a img {
  width: 44px;
  height: 44px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  filter: none;
}

.footer-socials a:hover img {
  background: #ed553b;
  transform: scale(1.15);
  opacity: 0.9;
}

.footer-center,
.footer-right {
  flex: 1; 
  max-width: 200px; 
}
.footer-center h3,
.footer-right h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 18px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.footer-center ul,
.footer-right ul {
  font-weight: 600;
  font-size: 18px;
}

.footer-center ul li,
.footer-right ul li {
  margin-bottom: 10px;
}

.footer-center ul li a,
.footer-right ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: opacity 0.3s;
}

.footer-center ul li a:hover,
.footer-right ul li a:hover {
  opacity: 0.8;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
  color: #fff;
  padding-left: 250px;
  margin-bottom: 101px;
}

.footer-privacy a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.footer-privacy a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 30px;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
